.vscode
test_*.go
*_test.go

.vscode
.idea
*.swp
*.swo

test_*.go
*_test.go

/bin/
*.exe
*.out
*.dll
*.so
*.dylib
.VscodeCounter

/vendor/
/Godeps/

.env
.env.local
*.toml
config.yaml

*.o
*.a
*.test
*.txt

/doc/
test/
/test/
